.mainframe-component {
  @import "content/content";
  @import "sidebar/sidebar";

  > .header-component {
    flex: 0 0 auto;
    height: 120px;
    background-color: gray;
  }

  > .container {
    flex: 1 1 0;
    display: flex;

    > .sidebar-component {
      flex: 0 0 auto;
      width: 20%;
      background-color: lightgray;
    }

    > .content-component {
      flex: 1 1 0;
      background-color: #eee;
    }
  }
}